<settings>
   <category label="30300">		
		<setting id="universal_settings" type="action" label="30303" action="RunPlugin(plugin://plugin.video.favorites/default.py?mode=universalsettings)" />
    </category>	
	<category label="Meta Data">
		<setting id="use-meta" type="bool" label="30600" default="true"/>
		<setting id="meta-path" type="action" label="30601" enable="!eq(-1,false)" action="RunPlugin(plugin://plugin.video.bmovies/default.py?mode=metahandlersettings)" option="close"/>
		<setting id="movie-poster" type="bool" label="30602" enable="!eq(-2,false)" default="true"/>
		<setting id="movie-fanart" type="bool" label="30603" enable="!eq(-3,false)" default="true"/>
   </category>
</settings>
