<settings>
<category label="Settings">
    <setting id="pop_time" type="text" label="For POP UP" default="2000-01-01 00:00:00" visible="false"/>
    <setting id="ga_time" type="text" label="GA Called" default="2000-01-01 00:00:00" visible="false"/>
    <setting id="visitor_ga" type="text" label="GA visitor" default="" visible="false"/>
	<setting id="fanart" type="bool" label="Enable Mikeys Beautiful Fanart" default="false"/>
    <setting id="download_path" type="folder" label="Set Download path" default="" />
	<setting id="oneclick" type="bool" label="Enable One Click Play" default="false"/>
	<setting id="bitrate" type="bool" label="Return Just 320Kbps" default="false"/>
</category>
<category label="Auto-View">
	<setting id="auto-view" type="bool" label="Enable Automatic View" default="false"/>
	<setting id="default" type="number" label="EVERYTHING" default="50" enable="!eq(-1,false)"/>
	<setting id="album" type="number" label="Album Views" default="500" enable="!eq(-1,false)"/>
</category>
</settings>