<?xml version="1.0" encoding="utf-8" standalone="yes"?>
    
<settings>
        <category label="General Settings">
	<setting id="Enable-Meta" type="bool" label="Enable Metadata" default="true"/>
	<setting id="Enable-Fanart" type="bool" label="Enable Fanart" default="true"/>
</category>
<category label="Library Integration">
        
	<setting id="movies25-folder" type="folder" label="Library Folder"
                 default="special://userdata/addon_data/plugin.video.moviestwentyfive/Movies"/>
</category>
<category label="Direct Download">
	<setting id="movies25-download" type="bool" label="Enable direct download of links" default="false"/>
	<setting id="download-status" type="bool" label="Hide the download status" default="false"/>
    	<setting id="download-folder" type="folder" label="Set Download Folder" default=""/>
</category>
<category label="Kid Mode">
        
	<setting id="kid-mode" type="bool" label="Enable Kid Mode"
 default="false"/>
	<setting id="parent-password" type="text" label="Parent Password" default="" option="hidden" enable="!eq(-2,false)"/>
</category>
</settings>
