<settings>
<category label="General">
<setting id="custom_url" type="labelenum" label="URL" default="http://www.primewire.ag/" values="Custom|http://www.1channel.ch/|http://www.primewire.ag/|http://www.letmewatchthis.ch/|http://1channel.occupyuk.co.uk/|http://primewireproxy.co.uk/" />
<setting id="custom_text_url" type="text" label="     Custom" default="" enable="eq(-1,0)" />
<setting id="proxy" type="bool" label="Proxy for UK" default="false"/>
</category>
</settings>
