<settings>
	<category label="Enable / Disable Sections">
		<setting id="adult" type="bool" label="Adult Section" default="false"/>
		<setting id="world" type="bool" label="World Section" default="true"/>
		<setting id="featured" type="bool" label="Featured Section" default="true"/>
		<setting id="video" type="bool" label="Video Section" default="true"/>
		<setting id="audio" type="bool" label="Audio Section" default="true"/>
		<setting id="program" type="bool" label="Programs Section" default="true"/>
	</category>
	<category label="Auto-View">
		<setting id="auto-view" type="bool" label="Enable Auto View" default="true"/>
		<setting id="default-view" type="number" label="Default View" default="500" enable="!eq(-1,false)"/>
	</category>
</settings>